<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>WEB CAR | Cadastro</title>
</head>

<body>
    <div id="page-wrapper">
        
        <% if(msg != "" ) { %>
            <section id="message">
                <p>
                    <%= msg%>
                </p>
                <p id="close">&times;</p>
            </section>
            <%} %> 
        <!-- Header -->
        <div id="index_page">
            <header id="header" class="container">

                    <!-- Logo -->
                        <div id="logo">
                            <img src="/img/Black-Friday.png" width="200" height="100" /> 
                        </div><!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a href="/" class="button alt large icon solid fa-question-circle">HOME</a></li>
                            </ul>
                        </nav>    	
                        															
            </div>
            <!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Seja bem vindo a Web Car</h2>
								<p>Insira os dados de seu veículo, e deixe o resto com a gente!</p>
							</div>
                            <div class="col-5 col-12-medium">
                                <img src="https://gramadocanela.aabb.com.br/wp-content/uploads/sites/334/2019/10/GIF.gif" />
                            </div>
						</div>
					</div>
				</div> 
                <!-- Features -->
				<!-- <div id="features-wrapper">
				<div class="container">
				<div class="row"> -->
                            
                <section id="cadastro">
                    <div>
                    <form action="/subscription" method="POST">
                        <div>
                            <label for="imagem">Insira o link da foto </label>
                            <input type="text" name="imagem" class="btn btn-success" placeholder="Coloque o link da sua foto aqui" width="250" height="200">
                        </div>
                        <div>
                            <label for="marca">Selecione a marca:</label>
                            <select name="marca" id="marca">
                                <option value="">Clique aqui para selecionar a marca do seu carro</option>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                                <option value="fiat">Fiat</option>
                                <option value="renault">Renault</option>
                                <option value="ford">Ford</option>
                                <option value="volkwagen">Volkwagen</option>
                                <option value="chary">Chary</option>
                                <option value="chevrolet">Chevrolet</option>
                                <option value="citroen">Citroen</option>
                                <option value="hyundai">Hyundai</option>
                            </select>
                        </div>
                                                        
                        <div>
                            <label for="modelo">Modelo: </label>
                            <input type="text" name="modelo" id="modelo" placeholder="Digite o modelo ">
                        </div>
                        <div>
                            <label for="motor">Motor: </label>
                            <input type="text" name="motor" id="motor" placeholder="Digite as cilindradas do motor ">
                        </div>
                        <div>
                            <label for="cambio">Cambio: </label>
                            <input type="text" name="cambio" id="cambio" placeholder="Digite o tipo do cambio ">
                        </div>
                        <div>
                            <label for="ano">Ano: </label>
                            <input type="text" name="ano" id="ano" placeholder="Digite o ano ">
                        </div>
                        <div>
                            <label for="cor">Cor: </label>
                            <input type="text" name="cor" id="cor" placeholder="Digite a cor ">
                        </div>
                        <div>
                            <label for="combustivel">Combustível: </label>
                            <input type="text" name="combustivel" id="combustivel" placeholder="Digite o combustivel ">
                        </div>
                        <div>
                            <label for="valor">Valor: </label>
                            <input type="text" name="valor" id="valor" placeholder="Digite o valor ">
                        </div>
                        <div>
                            <label for="descricao">Descrição adicional: </label>
                            <input type="text" name="descricao" id="descricao" placeholder="Digite a descricao ">
                        <button type="submit" class="bt bt-vd">Cadastrar</button>
                    </form>
                </div>
			
                </section>
			</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. Todos os direitos reservados</li><li>Design: Luiz Alberto Coimbra</a></li>
									</ul>
								</div>
							</div>
						</div>
					
		</div>
    </div>
<script src="js/script.js"></script>
</body>

</html>
