<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>WEB CAR</title>
</head>

<body>

	<div id="page-wrapper">

		
				
			<div id="index_page">
			<header id="header" class="container">
				<!-- Logo -->
				<div id="logo">
					<h1>WEB CAR</h1>
					<span>Sua loja automotiva virtual</span>
				</div><!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/" class="button alt large icon solid fa-question-circle">HOME</a></li>
				</ul>
				</nav>
			</header>
		</div>
                            
        	<!-- Banner -->
								<div id="banner-wrapper">
									<div id="banner" class="box container">
										<div class="row">
											<div class="col-7 col-12-medium">
												<h2>Equipe DEV Web Car</h2>
												<p>Saiba quem esta por trás.</p>
											</div>
											<div class="col-5 col-12-medium">
												<img src="https://cdn-icons-png.flaticon.com/512/1995/1995485.png" width="300" height="300" />
											</div>
										</div>
									</div>
								</div>
        
        <div class="cards">
            <section id="sobre">
                <header>
                    
                    <center>
                        <img src="/img/WhatsApp Image 2021-11-23 at 19.52.43.jpeg" width="350" height="300" />
                    </center>
                                             
                                <h2>
                                    Luiz Alberto de S. L. Coimbra
                                </h2>
                                <h4>
                                    - Estudante Engenharia da Computação
                                </h4>
                                <h4>
                                    Estudante de Desenvolvimento de Softwares
                                </h4>
                                <p>
                                    <b>Instituição: </b>Blue EdTech
                                </p>
                                
                                    <center>
                                    <img src="https://w7.pngwing.com/pngs/364/654/png-transparent-computer-icons-linkedin-symbol-miscellaneous-angle-text.png" width="40" height="40" />
                                    </center>
                                    <a href="https://www.linkedin.com/in/luizscoimbra" target="_blank">LinkedIn: luizscoimbra</a>
                                
                                    
                                    <center>
                                    <img src="https://img2.gratispng.com/20180716/tza/kisspng-github-computer-icons-clip-art-gits-5b4d20ab1f4131.145288281531781291128.jpg" width="40" height="40" />
                                    </center>  
                                    <a href="https://github.com/luizscoimbra" target="_blank">Github: luizscoimbra </a>
                                    

                                
                            </h4>
                            
                        </header>
                    </section>
                    <section id="sobre">
                        <header>
                            <center>
                                <img src="https://media-exp1.licdn.com/dms/image/C5603AQHy5y4Pz37y4g/profile-displayphoto-shrink_800_800/0/1517407291397?e=1643241600&v=beta&t=EokzemUBGNFn8ct7FPv5KuhpLfzi1VmOROHnU5bXf68" width="350" height="300" />
                            </center>
                                                     
                                    <h2>
                                        Cristina T Iwassaki
                                    </h2>
                                    <h4>
                                        - Formada em Física
                                    </h4>
                                    <h4>
                                        - Estudante de Desenvolvimento de Softwares
                                    </h4>
                                    <p>
                                        <b>Instituição: </b>Blue EdTech
                                    </p>
                                    
                                        <center>
                                        <img src="https://w7.pngwing.com/pngs/364/654/png-transparent-computer-icons-linkedin-symbol-miscellaneous-angle-text.png" width="40" height="40" />
                                        </center>
                                        <a href="https://www.linkedin.com/in/cristina-iwassaki/" target="_blank">LinkedIn: cristina-iwassaki</a>
                                    
                                        
                                        <center>
                                        <img src="https://img2.gratispng.com/20180716/tza/kisspng-github-computer-icons-clip-art-gits-5b4d20ab1f4131.145288281531781291128.jpg" width="40" height="40" />
                                        </center>  
                                        <a href="https://github.com/c-Tos1wa" target="_blank">Github: c-Tos1wa </a>
                                    </div>
                                </header>
                            </section>
        </div>

       
									

							<!-- Footer -->
							<div id="footer-wrapper">
								<footer id="footer" class="container">
									<div class="row">
										<div class="col-3 col-6-medium col-12-small">

											<!-- Links -->
											<section class="widget links">
												<h3>Linhas de crédito</h3>
												<ul class="style2">
													<li><a href="#">Financiamento em até 60 x</a></li>
													<li><a href="#">Consórcio Web Car</a></li>
													<li><a href="#">Cartão de Crédito em até 24X</a></li>
													<li><a href="#">A vista com descontos de até 10%</a></li>

												</ul>
											</section>

										</div>
										<div class="col-3 col-6-medium col-12-small">

											<!-- Links -->
											<section class="widget links">
												<h3>Seguro Auto</h3>
												<ul class="style2">
													<li><a href="https://www.portoseguro.com.br/seguro-auto" target=_blank>Porto Seguro</a></li>
													<li><a href="https://www.allianz.com.br/seguros/seu-patrimonio/carro.html" target=_blank>Allianz Seguradora</a></li>
													<li><a href="https://www.mapfre.com.br/para-voce/seguro-auto/" target=_blank>Mafre Seguros</a></li>
													<li><a href="https://www.youse.com.br/seguro-auto/" target=_blank>Youse Seguros</a></li>

												</ul>
											</section>

										</div>
										<div class="col-3 col-6-medium col-12-small">

											<!-- Links -->
											<section class="widget links">
												<h3>Procedência</h3>
												<ul class="style2">
													<li><a href="#">Vistoria 3 Visão</a></li>

												</ul>
											</section>

										</div>
										<div class="col-3 col-6-medium col-12-small">

											<!-- Contact -->
											<section class="widget contact last">
												<h3>Entre em contato</h3>
												<ul>
													<li><img width="40" height="40" src="/img/twitter.png" alt="logo do twitter" /></li>
													<li><img width="40" height="40" src="/img/facebook.png" alt="logo do facebook" /></li>
													<li><img width="40" height="40" src="/img/instagram.png" alt="logo do instagram" /></li>
													<li><img width="40" height="40" src="/img/dribble.png" alt="logo do dribble" /></li>
													<li><img width="40" height="40" src="/img/pinterest.png" alt="logo do pinterest" /></li>
													<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
												</ul>
												<p>Rua Suécia, 444<br />
													Paraíso do Norte, PR CEP 87.780-000<br />
													(44) 99746-1828</p>
											</section>

										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div id="copyright">
												<ul class="menu">
													<li>&copy; Untitled. Todos os direitos reservados</li>
													<li>Design: <a href="">Luiz Alberto Coimbra / Cristina T Iwassaki</a></li>
												</ul>
											</div>
										</div>
									</div>
								</footer>
							</div>
						</div>
<script src="/js/script.js"></script>

</body>

</html>